h4{
   color: #979494;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

p{
    font-size: 18px;
    text-align: justify;
    
}
h3{
    font-size: 40px;
}